{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">

    <div class="conatiner">
        <div class="container">
            <div class="center">
                <h2 style="text-align: center; font-size: 35px;"> {{ search | title }}</h2><hr>
            </div>
        </div>
    </div><br><br>

    
    <div class="container">
        <div class="row">
        {% for anime in scraped_animes %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-image">
                        <a href="https://www.gogoanime.movie/{{ anime.3 }}" target="_blank" title="">
                            <img src="{{ anime.1 }}" style="height:250px; background: center;" class="card-img-top" alt="{{ anime.2 }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="https://www.gogoanime.movie/{{ anime.3 }}" target="_blank">
                            <h4 class="card-text">{{ anime.0 }}</h4>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}