{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">

     <div class="conatiner">
        <div class="container">
            <div class="center">
                <h2 class="text-center pb-3"> {{ search | title }}</h2>
                <hr>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row pt-3">
        {% for anime in scraped_animes %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-image">
                        <a href="https://www.gogoanime.movie/{{ anime.3 }}" target="_blank" title="{{ anime.0 }}">
                            <img src="{{ anime.1 }}" class="card-img-top" style="height: 300px; border-bottom: 2px solid;" alt="{{ anime.2 }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="https://www.gogoanime.movie/{{ anime.3 }}" target="_blank">
                            <h4 class="card-text">{{ anime.0 }}</h4>
                        </a>
                    </div>
                    <div class="card-footer">
                        <h6 class="text-muted">{{ anime.4 }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}