{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webscrape your favourite anime.">
    <meta name="keywords" content="anime, web scraping, aggregator, anime aggregator">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home - Aggregator</title>
</head>

<body>
   <section id="home" class="text-center px-0 image">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="container">
                <h1 class="jumbotron-heading text-white px-0">Search for you favourite Anime.</h1>
                <br>

                <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                    <div class=" input-group mb-3">
                        <div class="col-12">
                            <input type="text" name="title" class="form-control mb-3" placeholder="Enter name of anime..">
                            <button type="submit" class="btn btn-outline-primary my-2">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% block content %}{% endblock %}

</body>

</html>