* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
body {
    font-family: 'Baloo Tamma 2', cursive;
}

body,
main {
    background: rgba(23, 45, 12, 0.2);
}

h2 {
    font-size: 42px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(24, 5, 5);
}

#home {
    background: url(../img/naruto.jpg);
    height: 500px;
}